header {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 100px;
  z-index: 1;
  .header-left {
    display: flex;
    align-items: center;
    > h1 {
      font-size: 26px;
      font-weight: 500;
    }
  }
  .logo {
    margin-right: 20px;
    div {
      width: 64px;
      height: 64px;
      background-image: url("/src/assets/images/logo.png");
      background-position: center;
      background-size: cover;
    }
  }

  .header-right {
    display: flex;
    > li {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin: 0 20px;
      cursor: pointer;
      > a {
        display: block;
        position: relative;
        color: black;
        margin: auto 0;
        padding: 10px 0;
        box-sizing: content-box;
        transition: 0.4s width ease;
        border-bottom: 2px solid var(--color-black);
        width: 0%;
        &:hover {
          width: 100%;
        }
      }
      > span {
        margin: 0 6px;
      }
    }
  }
  .openToggle,
  .closeToggle {
    display: block;
    position: absolute;
    top: 10px;
    font-size: 48px;
    cursor: pointer;
  }
  .openToggle {
    top: 34px;
    left: 30px;
    color: black;
  }
  .closeToggle {
    color: white;
    right: 10px;
  }
}
.scroll {
  a {
    transition: 0.4s all ease;
    color: var(--color-black);
  }
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    justify-content: start;
    background-color: white;
    height: fit-content;
    z-index: 10;
    .header-left {
      > a {
        color: black;
      }
      > h1 {
        a {
          color: black;
        }
      }
    }
    .header-right {
      flex-direction: column;
      width: 100%;
      align-items: center;
      .item {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 6px 0;
        background-color: #eee;
        &:hover {
          background-color: var(--color-skyblue-1);
        }
        > span {
          display: none;
        }
        > a {
          width: 100%;
          text-align: center;
          border-bottom: 0;
          color: black;
        }
      }
    }
    .openToggle {
      color: black;
    }
    .closeToggle {
      color: black;
    }
  }
}
@media screen and (max-width: 768px) {
}
