.mainImg-wrap {
  position: relative;
  width: 90%;
  border-radius: 20px;
  background-color: var(--color-main);
  background-image: url("/src/assets/images/sampleimage2.jpg");
  background-position: center;
  background-size: cover;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 80px;
  > p,
  h4 {
    margin: 16px 0;
    color: white;
  }
  > p {
    font-size: 48px;
    font-weight: 700;
  }
  > h4 {
    font-size: 30px;
  }
}

.mainIntro-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  > .intro-title {
    margin-left: 3%;
    > p,
    h4 {
      margin: 16px 0;
    }
    > p {
      font-size: 48px;
      font-weight: 700;
    }
    > h4 {
      font-size: 30px;
    }
    .btn {
      padding: 16px 18px;
    }
  }
  > .intro-imgwrap {
    margin-right: 3%;
    height: 800px;
    width: 800px;
    display: block;
    position: relative;
    .intro-img-top,
    .intro-img-bottom {
      display: flex;
      div {
        width: 400px;
        height: 400px;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        margin: 6px;
        display: block;
        position: relative;
        > img {
          object-fit: cover;
        }
      }
    }
    .intro-img-top {
      div {
        &:nth-child(1) {
          > img {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 60%;
            height: 70%;
          }
        }
        &:nth-child(2) {
          > img {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    .intro-img-bottom {
      div {
        &:nth-child(1) {
          > img {
            position: absolute;
            width: 80%;
            height: 70%;
            top: 0;
            right: 0;
          }
        }
        &:nth-child(2) {
          > img {
            position: absolute;
            width: 80%;
            height: 90%;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.recom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h4 {
    font-size: 30px;
    margin: 10px;
  }
  > p {
    font-size: 24px;
    margin: 10px 0 50px;
  }
}

.card-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  > li {
    margin: 50px;
  }
}

//////////////설명/////////////////////

.explain-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .explain-title {
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0;
  }
  .explain-content {
    font-size: 24px;
    margin: 40px 0;
  }
  .explain-item-wrap {
    display: flex;
    justify-content: center;
    .explain-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--color-skyblue-3);
      border-radius: 20px;
      margin: 40px 0;
      padding: 16px;
      width: 400px;
      height: 600px;
      margin: 20px;
      cursor: pointer;
      box-sizing: border-box;

      &:hover {
        border: 6px solid var(--color-main);
        transform: scale(1.06);
        h5 {
          display: block;
          text-align: center;
        }
        p {
          display: block;
          text-align: center;
        }
        &:nth-child(1) {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url("/src/assets/images/sampleimage3.jpg");
        }
        &:nth-child(2) {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url("/src/assets/images/sampleimage4.jpg");
        }
        &:nth-child(3) {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url("/src/assets/images/sampleimage5.jpg");
        }
      }
      h5 {
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px;
        transition: 0.4s all ease;
        display: none;
      }
      p {
        margin: 0;
        text-align: center;
        line-height: 1.3;
        display: none;
        color: white;
      }
      &:nth-child(1) {
        background-image: url("/src/assets/images/sampleimage3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 50px;
      }
      &:nth-child(2) {
        background-image: url("/src/assets/images/sampleimage4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 250px;
      }
      &:nth-child(3) {
        background-image: url("/src/assets/images/sampleimage5.jpg");
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 450px;
      }
    }
  }
}

.recom-section {
  > h4 {
    font-size: 40px;
    font-weight: 700;
  }
  > p {
    margin-top: 24px;
  }
}
@media screen and (max-width: 1090px) {
  .mainIntro-wrap {
    width: 100%;
    flex-direction: column;
    .intro-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      > p,
      h4 {
        text-align: center;
      }
      .btn {
        margin: 40px 0;
        padding: 30px 40px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  body {
  }
  .mainIntro-wrap {
    .intro-imgwrap {
      width: 600px;
      height: 600px;
      margin: 0 auto;
      .intro-img-top,
      .intro-img-bottom {
        div {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
  .explain-wrap {
    .explain-item-wrap {
      flex-direction: column;
      .explain-item:nth-child(1),
      .explain-item:nth-child(2),
      .explain-item:nth-child(3) {
        margin: 50px;
        li {
          > h5 {
            text-align: center;
          }
          > p {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  body {
  }
  .explain-content {
    text-align: center;
  }
}
