:root {
  --color-main: #6096b4;
  --color-sub: #93bfcf;
  --color-gray-1: #9baec8;
  --color-gray-2: #666666;
  --color-gray-3: #999999;
  --color-black: #282c37;
  --color-skyblue-1: #50abe7;
  --color-skyblue-2: #6cbde9;
  --color-skyblue-3: #87ceeb;
  --color-skyblue-4: #bae0f3;
  --color-skyblue-5: #edf2fb;
  --color-navy-1: #0e0f37;
  --color-navy-2: #254995;
  --color-navy-3: #374d9a;
  --color-navy-4: #5f85bb;
  --color-routeColor-1: #ff0060;
  --color-routeColor-2: #fa7100;
  --color-routeColor-3: #00dfa2;
  --color-routeColor-4: #0079ff;
  --color-routeColor-5: #27005d;
  --color-routeColor-6: #3f1d38;
}
